{
  "presets": [
    [
      "next/babel"
    ]
  ],
  "plugins": [
    [
      "css-modules-transform", {
        "extensions": [".css", ".scss"],
        "append": [ "postcss-cssnext" ],
        "preprocessCss": "./pre-processor.js",
        "extractCss": "./static/css/bundle.css"
      }
    ]
  ]
}
