{
  "presets": [
    [
      "next/babel",
      {
        "styled-jsx": {
          "plugins": [
            "styled-jsx-plugin-sass"
          ]
        }
      }
    ]
  ],
  "plugins": [
    [
      "css-modules-transform", {
        "extensions": [".css", ".scss"],
        "append": [ "postcss-cssnext" ],
        "extractCss": "./static/css/bundle.css",
      }
    ]
  ]
}
