{
  "parser": "babel-eslint",
  "extends": "eslint-config-airbnb",
  "rules": {
    "strict": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/react-in-jsx-scope": "off",
    "react/forbid-prop-types": "off",
    "react/prefer-stateless-function": 0
  }
}
