@import 'variables';

.selectableButton {
  color: #01A891;
  border: 1.5px solid #35B7A7;
  border-radius: 5px;
  outline: none;
  font-size: 26px;
  background-color: transparent;
  padding: 17px 34px 17px 34px;
}
