@import './variables';

.account-group {
  border: solid 1px $primary-color;
  padding: 0 $space-md;
  margin-bottom: $space-md;
  border-radius: 6px;

  .account-group__title-group {
    padding-top: $space-sm;
    padding-bottom: $space-sm;
    border-bottom: solid 1px $grey-300;
  }

  .account-group__title {
    font-family: $font-gotham-rounded;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.8rem;
  }

  .account-group__sub-title {
    font-family: $font-gotham-rounded;
    font-weight: 700;
    font-size: 16px;
    color: $accent-color;
    display: block;
  }

  .account-group__content {
    > div {
      padding-top: $space-md;
      padding-bottom: $space-md;
    }
  }

  &.account-group--dual {
    .account-group__content {
      display: flex;
      margin-bottom: $space-md;

      > div {
        flex-grow: 1;
        width: 100%;
      }

      > div:first-child {
        border-right: solid 1px $grey-300;
        padding-right: 20px;
      }

      > div:last-child {
        margin-left: 20px;
      }
    }
  }
}