/*  imported from index.scss  */

.index__landingHeaderStyle___eJRUn {
  background-image: url("/static/images/landingBanner.png");
  height: 100%;
  min-height: 400px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }

.index__coveLiveAssistContainer___TFtU- {
  margin-top: 50px;
  margin-bottom: 50px; }

.index__markupComparisonContainer___1e6-x {
  margin-top: 30px;
  margin-bottom: 80px; }

.index__markupTextCol___2bHv3 {
  margin-top: 90px; }

.index__steps___2BmVR {
  background: #F0F5F7;
  border-radius: 4px 32px 4px 32px;
  padding-bottom: 55px; }
  .index__steps___2BmVR h1 {
    font-family: GothamRoundedBold;
    font-size: 60px;
    margin-top: 80px; }
  .index__steps___2BmVR h4 {
    font-family: GothamRoundedBook;
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 48px; }
  @media (max-width: 767px) {
    .index__steps___2BmVR {
      margin-top: 32px; } }

.index__stepsOuter___2cCvR {
  position: relative; }

.index__stepsPhoto___DRDGE {
  position: absolute;
  top: 80px;
  right: 0px;
  border-radius: 16px 0px 0px 16px; }

.index__step___3Q7VV {
  font-size: 18px;
  margin-top: 20px;
  padding-bottom: 20px;
  font-family: 'Open Sans', sans-serif; }
  .index__step___3Q7VV p {
    font-size: 14px;
    font-style: italic; }

.index__headerCenterText___2rvbJ {
  position: relative;
  color: #FFFFFF;
  text-align: center;
  top: 22%; }
  .index__headerCenterText___2rvbJ h1 {
    font-size: 72px;
    font-family: GothamRoundedBold; }
  .index__headerCenterText___2rvbJ h3 {
    font-size: 60px;
    font-family: GothamRoundedLight; }

.index__dontbefooled___33PRN {
  font-size: 24px;
  font-family: GothamRoundedBook;
  margin-bottom: 95px; }
  .index__dontbefooled___33PRN .col {
    padding: 30px; }

.index__dontbefooledLeftCol___1zn7M {
  background: #F0F5F7; }

.index__dontbefooledTryNow___3jucC {
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -81px; }

.index__tryNowBtn___3AwvN {
  color: #FFFFFF;
  width: 162px;
  height: 40px;
  border-radius: 20px;
  background: #F17927;
  font-size: 16px;
  text-align: center;
  font-family: GothamRoundedBook;
  font-weight: bold;
  padding-top: 8px;
  cursor: pointer; }

.index__tryNowBtnTwo___1PCbc {
  margin-top: 48px;
  margin-bottom: 96px; }

.index__tryNowBtnThree___9GSg- {
  position: relative;
  left: 300px;
  margin-bottom: 80px;
  margin-top: 48px; }

.index__tryNowBtnFour___1JCeo {
  margin-top: 48px;
  margin-bottom: 96px; }

.index__downArrow___1iubN {
  margin-top: 40px; }

.index__savingsHeader___D2wxF {
  font-size: 60px;
  font-family: GothamRoundedBold;
  color: #00B19B;
  text-align: center;
  margin-top: 96px; }

.index__savingsSubheader___yJb5x {
  font-size: 24px;
  font-family: GothamRoundedBook;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 48px; }

.index__testimonial___3dKCh {
  position: relative;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 96px;
  color: #00B19B;
  text-align: center;
  font-family: GothamRoundedBookItalic; }
  .index__testimonial___3dKCh h1 {
    padding-top: 25px;
    font-size: 60px; }
  .index__testimonial___3dKCh h3 {
    padding-bottom: 25px;
    font-size: 24px; }

.index__guaranteeHeader___D03HN {
  font-size: 60px;
  font-family: GothamRoundedBold;
  color: #00B19B;
  text-align: center;
  margin-bottom: 48px;
  margin-top: 48px; }

@media (max-width: 767px) {
  .index__guaranteeText___1GNwN {
    text-align: center; } }

.index__footer___231Fr {
  margin-bottom: 25px; }

@media (max-width: 767px) {
  .index__headerCenterText___2rvbJ h1 {
    font-size: 60px; }
  .index__headerCenterText___2rvbJ h3 {
    font-size: 40px; }
  .index__steps___2BmVR {
    margin-top: 32px; }
    .index__steps___2BmVR h1 {
      font-size: 40px; }
  .index__stepsPhoto___DRDGE {
    position: relative;
    top: 0px; }
  .index__tryNowBtnThree___9GSg- {
    left: 0;
    margin-left: auto;
    margin-right: auto; }
  .index__savingsHeader___D2wxF {
    font-size: 40px; }
  .index__testimonial___3dKCh {
    width: 100%; }
    .index__testimonial___3dKCh h1 {
      font-size: 40px; }
  .index__testimonialBorder___2yHgm::before {
    content: "";
    position: absolute;
    left: 10%;
    top: 0;
    height: 2px;
    width: 80%;
    border-bottom: 1px solid #00B19B; }
  .index__testimonialBorder___2yHgm::after {
    content: "";
    position: absolute;
    left: 10%;
    bottom: 0;
    height: 2px;
    width: 80%;
    border-bottom: 1px solid #00B19B; }
  .index__panelBanner___rP_Bx {
    display: none; }
  .index__guaranteeHeader___D03HN {
    font-size: 40px; }
  .index__tryNowBtnFive___2BDAl {
    margin-top: 20px; } }

@media (min-width: 768px) {
  .index__testimonialBorder___2yHgm::before {
    content: "";
    position: absolute;
    left: 25%;
    top: 0;
    height: 2px;
    width: 50%;
    border-bottom: 1px solid #00B19B; }
  .index__testimonialBorder___2yHgm::after {
    content: "";
    position: absolute;
    left: 25%;
    bottom: 0;
    height: 2px;
    width: 50%;
    border-bottom: 1px solid #00B19B; }
  .index__panelBanner___rP_Bx {
    background-image: url("/static/images/panelClose.png");
    background-size: cover;
    border-radius: 32px 4px 32px 4px;
    min-height: 440px;
    width: 100%; }
  .index__panelBannerMobile___3QbAS {
    display: none; } }
/*  imported from styles.scss  */

.styles__primaryHighlight___3CfoO {
  color: #3EBEB1; }

.styles__raisedContainer___1OjBy {
  padding: 45px 35px 45px 35px;
  -webkit-box-shadow: 0px 6px 5px 2px rgba(44, 50, 57, .2);
  box-shadow: 0px 6px 5px 2px rgba(44, 50, 57, .2);
  min-height: 300px;
  margin-bottom: 15px;
  border-radius: 16px;
  border: 1px solid #F0F4F7;
  margin-left: auto;
  margin-top: 85px;
  font-family: GothamRoundedBold; }

.styles__pageHeader___7THzX {
  font-size: 40px;
  font-family: GothamRoundedBold; }

.styles__pageHeaderRow___3BmCj {
  margin-bottom: 25px; }

.styles__primaryLink___Cyfsn {
  color: #008CFF;
  cursor: pointer; }

.styles__mutedLink___r4ecT {
  color: #8A9097;
  cursor: pointer; }

.styles__noPadding___3AKZf {
  padding: 0px; }

.styles__bold___Pv9tP {
  font-weight: bold; }

.styles__text___2dNMf {
  font-family: GothamRoundedBook; }

.styles__actionBtn___3aNqh {
  color: #FFFFFF;
  height: 40px;
  width: 100%;
  max-width: 236px;
  border-radius: 20px;
  background: #F17927;
  font-size: 16px;
  text-align: center;
  font-family: GothamRoundedBook;
  font-weight: bold;
  padding-top: 8px;
  cursor: pointer; }

.styles__actionBtnInverse___3MHXt {
  color: #F17927;
  height: 40px;
  width: 100%;
  max-width: 236px;
  border-radius: 20px;
  border: 2px solid #F17927;
  font-size: 16px;
  text-align: center;
  font-family: GothamRoundedBook;
  font-weight: bold;
  padding-top: 8px;
  cursor: pointer; }

.styles__centerBlock___2HlDS {
  margin-left: auto;
  margin-right: auto; }

.styles__leftHighlight___1axgv::before {
  content: "";
  position: absolute;
  left: -12px;
  height: 100%;
  width: 8px;
  border-radius: 4px;
  background: #01CDB9; }

.styles__leftHighlightShort___32yWC::before {
  content: "";
  position: absolute;
  left: -2px;
  height: 50px;
  width: 8px;
  border-radius: 4px;
  background: #01CDB9; }

.styles__tryNowBtn___2k_cQ {
  color: #FFFFFF;
  width: 162px;
  height: 40px;
  border-radius: 20px;
  background: #F17927;
  font-size: 16px;
  text-align: center;
  font-family: GothamRoundedBook;
  font-weight: bold;
  padding-top: 8px;
  cursor: pointer; }

.styles__spacerTop___1B-Vt {
  margin-top: 20px; }

.styles__spacerTop40___1PwV- {
  margin-top: 40px; }

.styles__blockCenter___2Wkbn {
  margin-left: auto;
  margin-right: auto; }
/*  imported from header.scss  */

@media (max-width: 767px) {
  .header__authLinks___2A3lB {
    display: none; } }

.header__signup___2Fbva {
  border-radius: 16px;
  height: 32px;
  width: 136px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px; }

.header__toggler___2uOGP {
  border: none;
  color: #FFFFFF; }
  .header__toggler___2uOGP .navbar-toggler-icon {
    height: 20px;
    width: 24px;
    background-image: url("/static/images/togglerWhite.svg"); }

.header__toggler___2uOGP.header__secondary___jurm6 .navbar-toggler-icon {
  background-image: url("/static/images/togglerTeal.svg"); }
/*  imported from priceComparisonTable.scss  */

.priceComparisonTable__priceComparisonTable___mKAq6 .row {
  font-family: GothamRoundedBold;
  font-size: 20px;
  padding-top: 20px; }

.priceComparisonTable__priceComparisonTable___mKAq6 .col {
  padding-left: 20px; }

.priceComparisonTable__tableRows___37ljN .row {
  border-bottom: 1px solid #BEC2C5;
  border-left: 1px solid #BEC2C5;
  border-right: 1px solid #BEC2C5; }

.priceComparisonTable__pcTableColLeft___TzweA {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold; }
  @media (max-width: 767px) {
    .priceComparisonTable__pcTableColLeft___TzweA {
      padding-left: 0px; } }

.priceComparisonTable__pcTableColMid___1olkl {
  height: 56px;
  color: #00B19B; }

.priceComparisonTable__pctHeader___2fFmO {
  padding-bottom: 20px;
  margin-top: 66px; }

.priceComparisonTable__lastRow___3fpcC {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px; }

.priceComparisonTable__firstRow___1cNDc {
  border-top: 1px solid #BEC2C5;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px; }
/*  imported from coveLiveAssist.scss  */

.coveLiveAssist__outer___1bE3q {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px; }

.coveLiveAssist__container___1mCI7 {
  background: #F0F5F7;
  border-radius: 32px 4px 32px 4px;
  padding-top: 80px;
  padding-bottom: 30px;
  height: 630px; }

.coveLiveAssist__listItem____jnSM {
  margin-bottom: 45px; }

.coveLiveAssist__leftImg___1bq09 {
  position: absolute;
  top: 80px;
  border-radius: 0px 16px 16px 0px; }

h1 {
  font-family: GothamRoundedBold;
  font-size: 60px;
  margin-bottom: 40px; }

h3 {
  font-family: GothamRoundedBook;
  font-size: 24px; }
/*  imported from winwin.scss  */

.winwin__container___UeYIx {
  padding: 8px;
  margin-bottom: 50px; }
  .winwin__container___UeYIx h1 {
    text-align: center;
    color: #3EBEB1; }
  .winwin__container___UeYIx h3 {
    font-family: GothamRoundedBold;
    font-size: 24px; }

.winwin__containerBorder___3Sf33 {
  border: 8px solid #3EBEB1;
  border-radius: 32px;
  padding-top: 50px;
  padding-bottom: 30px; }

.winwin__listItem___2aA_W {
  margin-bottom: 45px;
  font-family: GothamRoundedBook;
  font-size: 20px; }

.winwin__bold___2__0R {
  font-family: GothamRoundedBold; }
/*  imported from estimateSlider.scss  */

.estimateSlider__sliderContainer___26E-V {
  position: relative;
  margin-top: 140px; }

.estimateSlider__savingsContainer___8w5-Q {
  position: absolute;
  width: 100%;
  top: -120px; }

.estimateSlider__detailLabel___MC4Oo {
  position: absolute;
  text-align: center;
  font-family: GothamRoundedBookItalic;
  display: none; }
  .estimateSlider__detailLabel___MC4Oo h1 {
    font-family: GothamRoundedBookItalic;
    font-size: 60px;
    margin-bottom: 0px; }
  .estimateSlider__detailLabel___MC4Oo p {
    font-size: 20px; }

.estimateSlider__detailLabel___MC4Oo.estimateSlider__detailLabelActive___13K2o {
  display: block; }

.estimateSlider__detailLabelOne___2kvbK {
  left: 15%; }

.estimateSlider__detailLabelTwo___2xamK {
  left: 35%; }

.estimateSlider__detailLabelThree___6jktp {
  left: 55%; }

.estimateSlider__detailLabelFour___2tt05 {
  left: 75%; }

.estimateSlider__detailLabelFive___2Y1yg {
  left: 95%; }

.estimateSlider__stepContainer___2w1pQ {
  position: absolute;
  width: 99%;
  margin-left: .75%; }

.estimateSlider__stepIndicator___3jF38 {
  position: absolute;
  top: 13px;
  width: 19.5%;
  height: 8px;
  border-radius: 4px;
  background: #BEC2C5;
  z-index: 2; }

.estimateSlider__stepIndicatorActive___3Um-U {
  background: #5BC4B8; }

.estimateSlider__stepIndicatorOne___O-sjG {
  left: 0%; }

.estimateSlider__stepIndicatorOne___O-sjG.estimateSlider__stepIndicatorActive___3Um-U {
  opacity: .2; }

.estimateSlider__stepIndicatorTwo____5PSM {
  left: 20%; }

.estimateSlider__stepIndicatorTwo____5PSM.estimateSlider__stepIndicatorActive___3Um-U {
  opacity: .4; }

.estimateSlider__stepIndicatorThree___2xX_i {
  left: 40%; }

.estimateSlider__stepIndicatorThree___2xX_i.estimateSlider__stepIndicatorActive___3Um-U {
  opacity: .6; }

.estimateSlider__stepIndicatorFour___1L8dY {
  left: 60%; }

.estimateSlider__stepIndicatorFour___1L8dY.estimateSlider__stepIndicatorActive___3Um-U {
  opacity: .8; }

.estimateSlider__stepIndicatorFive___1o_k4 {
  left: 80%; }
