/*  imported from styles.scss  */

.styles__raisedContainer___1OjBy {
  padding: 45px 35px 45px 35px;
  -webkit-box-shadow: 0px 6px 5px 2px rgba(44, 50, 57, .2);
  box-shadow: 0px 6px 5px 2px rgba(44, 50, 57, .2);
  min-height: 500px;
  margin-bottom: 15px;
  border-radius: 16px;
  border: 1px solid #F0F4F7;
  margin-left: auto;
  margin-top: 85px;
  font-family: GothamRoundedBold; }

.styles__pageHeader___7THzX {
  font-size: 40px;
  font-family: GothamRoundedBold; }

.styles__primaryLink___Cyfsn {
  color: #008CFF;
  cursor: pointer; }

.styles__noPadding___3AKZf {
  padding: 0px; }

.styles__bold___Pv9tP {
  font-weight: bold; }

.styles__actionBtn___3aNqh {
  color: #FFFFFF;
  height: 40px;
  width: 100%;
  max-width: 236px;
  border-radius: 20px;
  background: #F17927;
  font-size: 16px;
  text-align: center;
  font-family: GothamRoundedBook;
  font-weight: bold;
  padding-top: 8px;
  cursor: pointer; }

.styles__actionBtnInverse___3MHXt {
  color: #F17927;
  height: 40px;
  width: 100%;
  max-width: 236px;
  border-radius: 20px;
  border: 2px solid #F17927;
  font-size: 16px;
  text-align: center;
  font-family: GothamRoundedBook;
  font-weight: bold;
  padding-top: 8px;
  cursor: pointer; }
/*  imported from addEquipment.scss  */

.addEquipment__header___1YTOy {
  margin-bottom: 25px; }

.addEquipment__leftSection___ztHl7 {
  padding-right: 15px; }

.addEquipment__rightSection___1iOE_ {
  padding-left: 15px; }

.addEquipment__paymentRow___2k-x6 {
  height: 70px;
  border-bottom: 1px solid #F0F4F7;
  font-size: 16px;
  font-family: Open Sans;
  padding-top: 27px;
  padding-left: 10px; }

.addEquipment__costCol___2RRSP {
  font-weight: bold;
  text-align: right; }

.addEquipment__newTotalHeading___1FBRY {
  font-family: GothamRoundedBook;
  font-size: 20px;
  margin-top: 20px; }

.addEquipment__newTotal___1qct9 {
  font-family: GothamRoundedBold;
  font-size: 24px; }

.addEquipment__paymentSummaryRow___AQi0H {
  padding: 20px 10px; }

.carousel-item {
  border-radius: 16px; }

.addEquipment__productSliderThumbs___2DriV {
  margin-top: 15px; }
  .addEquipment__productSliderThumbs___2DriV .list-inline-item {
    border-radius: 8px;
    padding-left: 8px;
    padding-right: 8px; }

.addEquipment__productTitle___pSGL6 {
  font-family: GothamRoundedBold;
  font-size: 24px;
  margin-top: 20px; }

.addEquipment__productDescription___26LXD {
  font-family: Open Sans; }
/*  imported from addEquipmentRow.scss  */

.addEquipmentRow__itemRow___3ZBA8 {
  border: 1px solid #F0F4F7;
  font-size: 14px;
  margin-top: 5px;
  width: 100%; }

.addEquipmentRow__controlCol___2omjt {
  padding-top: 8px;
  padding-left: 15px; }

.addEquipmentRow__thumbCol___1mYln {
  padding: 0px; }

.addEquipmentRow__controlCol___2omjt.addEquipmentRow__col___K9I7K {
  text-align: center; }

.addEquipmentRow__detailsCol___3axZ0 {
  color: #008CFF;
  font-weight: bold;
  padding-top: 40px;
  padding-left: 0px; }

.addEquipmentRow__addCol___2i2QT {
  padding-top: 30px; }

.addEquipmentRow__quantity___2zgtr {
  padding-right: 15px;
  font-weight: bold; }

.addEquipmentRow__noPadding___gh9qV {
  padding: 0px; }

.addEquipmentRow__noPaddingLeft___2R4OS {
  padding-left: 0px; }

.addEquipmentRow__price___efX_Q {
  font-weight: bold;
  padding-left: 10px; }

.addEquipmentRow__productLabel___2XXyQ {
  padding-bottom: 15px;
  text-align: left; }

.addEquipmentRow__disabled___1a62p {
  opacity: 0.2; }
/*  imported from input.scss  */

.input__coveInput___2A75v {
  position: relative;
  border-bottom: 1px solid #777A81;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  padding: 2px 10px 2px 10px; }
  .input__coveInput___2A75v::before {
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    border-left: 1px solid #777A81;
    height: 8px;
    width: 1px; }
  .input__coveInput___2A75v::after {
    position: absolute;
    bottom: 0px;
    right: 0px;
    content: "";
    border-left: 1px solid #777A81;
    height: 8px;
    width: 1px; }
  .input__coveInput___2A75v input {
    border: 0px;
    width: 100%;
    caret-color: #00CDB9; }

.input__activeInput___1MfXB, .input__activeInput___1MfXB::before, .input__activeInput___1MfXB::after {
  border-color: #00CDB9; }

.input__inputLabel___1xvhX {
  font-family: GothamRoundedBook;
  font-size: 12px;
  color: #191E2B;
  margin-top: 4px; }
/*  imported from header.scss  */

@media (max-width: 767px) {
  .header__authLinks___2A3lB {
    display: none; } }

.header__signup___2Fbva {
  border-radius: 16px;
  height: 32px;
  width: 136px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px; }

.header__toggler___2uOGP {
  border: none;
  color: #FFFFFF; }
  .header__toggler___2uOGP .navbar-toggler-icon {
    height: 20px;
    width: 24px;
    background-image: url("/static/images/togglerWhite.svg"); }

.header__toggler___2uOGP.header__secondary___jurm6 .navbar-toggler-icon {
  background-image: url("/static/images/togglerTeal.svg"); }
