/*  imported from styles.scss  */

.styles__raisedContainer___1OjBy {
  padding: 45px 35px 45px 35px;
  -webkit-box-shadow: 0px 6px 5px 2px rgba(44, 50, 57, .2);
  box-shadow: 0px 6px 5px 2px rgba(44, 50, 57, .2);
  min-height: 300px;
  margin-bottom: 15px;
  border-radius: 16px;
  border: 1px solid #F0F4F7;
  margin-left: auto;
  margin-top: 85px;
  font-family: GothamRoundedBold; }

.styles__pageHeader___7THzX {
  font-size: 40px;
  font-family: GothamRoundedBold; }

.styles__pageHeaderRow___3BmCj {
  margin-bottom: 25px; }

.styles__primaryLink___Cyfsn {
  color: #008CFF;
  cursor: pointer; }

.styles__noPadding___3AKZf {
  padding: 0px; }

.styles__bold___Pv9tP {
  font-weight: bold; }

.styles__actionBtn___3aNqh {
  color: #FFFFFF;
  height: 40px;
  width: 100%;
  max-width: 236px;
  border-radius: 20px;
  background: #F17927;
  font-size: 16px;
  text-align: center;
  font-family: GothamRoundedBook;
  font-weight: bold;
  padding-top: 8px;
  cursor: pointer; }

.styles__actionBtnInverse___3MHXt {
  color: #F17927;
  height: 40px;
  width: 100%;
  max-width: 236px;
  border-radius: 20px;
  border: 2px solid #F17927;
  font-size: 16px;
  text-align: center;
  font-family: GothamRoundedBook;
  font-weight: bold;
  padding-top: 8px;
  cursor: pointer; }

.styles__centerBlock___2HlDS {
  margin-left: auto;
  margin-right: auto; }
/*  imported from cancelmembership.scss  */

.cancelmembership__stepContent___3fiuS {
  font-family: GothamRoundedBook;
  font-size: 20px; }

.cancelmembership__bold___T8UPY {
  font-family: GothamRoundedBold; }

.cancelmembership__bottomLeftRow___ij22g {
  margin-top: 30px; }

.cancelmembership__leftHighlight___yP-M4::before {
  content: "";
  position: absolute;
  left: -12px;
  height: 100%;
  width: 8px;
  border-radius: 4px;
  background: #01CDB9; }

.cancelmembership__rightCol___2w3BV::before {
  content: "";
  position: absolute;
  left: -2px;
  width: 2px;
  background: #8A9097;
  border-radius: 4px; }

.cancelmembership__cancelLink___3xb0X {
  font-size: 16px;
  font-family: GothamRoundedBold; }

.cancelmembership__smallPrint___28nx8 {
  margin-top: -5px;
  font-size: 14px; }

.cancelmembership__actionRow___2Flxd {
  margin-top: 30px; }

.cancelmembership__disclaimer___t3j4b {
  font-size: 16px;
  margin-bottom: 20px; }

.cancelmembership__summaryRow____Ytg9 {
  margin-top: 30px; }

.cancelmembership__bottomSpacer___2x-NX {
  margin-bottom: 20px; }

.cancelmembership__actionBtnDisclaimer___2SzSg {
  font-size: 14px;
  text-align: center; }
/*  imported from input.scss  */

.input__coveInput___2A75v {
  position: relative;
  border-bottom: 1px solid #777A81;
  border-left: 0px;
  border-top: 0px;
  border-right: 0px;
  padding: 2px 10px 2px 10px; }
  .input__coveInput___2A75v::before {
    position: absolute;
    bottom: 0px;
    left: 0px;
    content: "";
    border-left: 1px solid #777A81;
    height: 8px;
    width: 1px; }
  .input__coveInput___2A75v::after {
    position: absolute;
    bottom: 0px;
    right: 0px;
    content: "";
    border-left: 1px solid #777A81;
    height: 8px;
    width: 1px; }
  .input__coveInput___2A75v input {
    border: 0px;
    width: 100%;
    caret-color: #00CDB9; }

.input__activeInput___1MfXB, .input__activeInput___1MfXB::before, .input__activeInput___1MfXB::after {
  border-color: #00CDB9; }

.input__inputLabel___1xvhX {
  font-family: GothamRoundedBook;
  font-size: 12px;
  color: #191E2B;
  margin-top: 4px; }
/*  imported from header.scss  */

@media (max-width: 767px) {
  .header__authLinks___2A3lB {
    display: none; } }

.header__signup___2Fbva {
  border-radius: 16px;
  height: 32px;
  width: 136px;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px; }

.header__toggler___2uOGP {
  border: none;
  color: #FFFFFF; }
  .header__toggler___2uOGP .navbar-toggler-icon {
    height: 20px;
    width: 24px;
    background-image: url("/static/images/togglerWhite.svg"); }

.header__toggler___2uOGP.header__secondary___jurm6 .navbar-toggler-icon {
  background-image: url("/static/images/togglerTeal.svg"); }
