@import 'variables';
@import 'responsive';

.privacy {
    margin: 40px 0;

    &__scroll-top {
        position: fixed;
        right: 10px;
        bottom: 50px;
        border: 2px solid $primary;
        border-radius: 50%;
        width: 50px;
        height: 50px;

        &:after {
            content: '';
            display: block;
            position: absolute;
            top: 17px;
            left: 13px;
            width: 20px;
            height: 20px;
            transform: rotate(45deg);
            border-top: 2px solid $primary;
            border-left: 2px solid $primary;
        }

        &:hover {
            cursor: pointer;
        }

        &.active {
            background-color: $primary;

            &:after {
                border-color: white;
            }
        }
    }
}
