@import "variables";

.cartAddons {
  font-size: 14px;
  button {
    background-color: transparent;
    border: none;
    outline: none;
  }
  :global(.noPaddingLeft){
    padding-left: 0px;
    padding-top: 8px;
  }
  :global(.noPadding) {
    padding: 0px;
  }
  .priceTab {
    display: flex;
  }
  .controlCol {
    padding-top: 8px;
    padding-left: 15px;
    .productLabel {
      padding-top: 20px;
      padding-bottom: 15px;
      text-align: left;
      font-family: $font-gotham-rounded;
    }
  }
}

.noPadding {
  img {
    width: 100%;
  }
}

.thumbCol {
  padding: 0px;
}

.controlCol.col {
  text-align: center;
}

.detailsCol {
  color: #008CFF;
  font-weight: bold;
  padding-left: 0px;
}

.quantity {
  font-weight: bold;
  text-align: center;
  flex: 1;
}

.price {
  font-weight: bold;
  text-align: right;
}

.disabled {
  opacity: 0.2;
}
