@import "variables";

.cartAddons {
  font-size: 14px;
  border: 1px solid $grey-50;
  padding-right: 5px;
  button {
    background-color: transparent;
    border: none;
    outline: none;
  }
  :global(.noPaddingLeft){
    padding-left: 0px;
    padding-top: 8px;
  }
  :global(.noPadding) {
    padding: 0px;
  }
  .priceTab {
    display: flex;
    align-items: center;
    flex-direction: row;
    width: 90px;

    & button {
      padding: 0;
    }
  }
  .controlCol {
    padding-left: 5px;
  }
}

.productLabel {
  font-weight: 100;
  text-align: left;
  font-family: $font-gotham-rounded;
}

.noPadding {
  img {
    width: 100%;
    max-height: 80px;
  }
}

.thumbCol {
  padding: 0px;
}

.controlCol.col {
  text-align: center;
}

.detailsCol {
  color: $accent-color;
  font-weight: bold;
  padding-left: 0px;
  a {
    margin-top: 5px;
    font-size: 12px;
    float: right;
  }
}

.quantity {
  font-weight: bold;
  text-align: center;
  font-family: $font-open-sans;
  color: $grey-1000;
  flex: 1;
}

.price {
  font-weight: bold;
  text-align: right;
  font-family: $font-open-sans;
  color: $grey-1000;

  &--large {
    position: absolute;
    right: 5px;
    font-size: 22px;
  }
}

.disabled {
  opacity: 0.2;
}
