@import "variables";

.cartAddons {
  font-size: 14px;
  border: 1px solid $grey-50;
  button {
    background-color: transparent;
    border: none;
    outline: none;
  }
  :global(.noPaddingLeft){
    padding-left: 0px;
    padding-top: 8px;
  }
  :global(.noPadding) {
    padding: 0px;
  }
  .priceTab {
    display: flex;
  }
  .controlCol {
    padding-top: 8px;
    padding-left: 15px;
    .productLabel {
      font-weight: lighter;
      padding-top: 20px;
      padding-bottom: 15px;
      text-align: left;
      font-family: $font-gotham-rounded;
    }
  }
}

.noPadding {
  img {
    width: 100%;
  }
}

.thumbCol {
  padding: 0px;
}

.controlCol.col {
  text-align: center;
}

.detailsCol {
  color: $accent-color;
  font-weight: bold;
  padding-left: 0px;
  a {
    font-size: 12px;
  }
}

.quantity {
  font-weight: bold;
  text-align: center;
  font-family: $font-open-sans;
  color: $grey-1000;
  flex: 1;
}

.price {
  font-weight: bold;
  text-align: right;
  font-family: $font-open-sans;
  color: $grey-1000;
}

.disabled {
  opacity: 0.2;
}
