@import 'variables';

.coveClubFull {
  .header {
    margin-top: 80px;
    h2 {
      font-size: 40px;
      font-family: $font-gotham-rounded-bold;
    }
  }

  .titleSubText {
    font-size: 20px;
    font-family: $font-gotham-rounded;
    position: relative;
    padding-left: 25px;
    margin-top: 20px;
    margin-bottom: 35px;
    &::before {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      width: 8px;
      height: 100%;
      border-radius: 4px;
      background: #01CDB9;
    }
  }

  .coveClubTableHeader {
    height: 120px;
    border-radius: 16px 16px 0px 0px;
    border-left: 1px solid $grey-50;
    border-top: 1px solid $grey-50;
    border-right: 1px solid $grey-50;
    padding-top: 10px;
    text-align: center;
    position: relative;
    h3 {
      font-size: 34px;
    }
    
    h4 {
      font-size: 24px;
      font-family: $font-gotham-rounded-bold;
      color: #00CDB9;
    }

    h5 {
      color: #00CDB9;
      font-size: 16px;
      font-weight: bold;
    }
    p {
      font-size: 12px;
      font-weight: bold;
    }

    &::before {
      content: "";
      height: 624px;
      width: 2px;
      position: absolute;
      left: -2px;
      top: 0px;
      background: linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(44, 50, 57, .2));
      top: 15px;
      border-radius: 3px 0px 0px 0px;
      filter: blur(1px);
    }
    &::after {
      content: "";
      height: 624px;
      width: 2px;
      position: absolute;
      right: -3px;
      top: 0px;
      background: linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(44, 50, 57, .2));
      top: 15px;
      border-radius: 0px 3px 0px 0px;
      filter: blur(1px);
    }
  }

  .coveClubTableFooter {
    border-radius: 0px 0px 16px 16px;
    border-left: 1px solid $grey-50;
    border-bottom: 1px solid $grey-50;
    border-right: 1px solid $grey-50;
    padding-top: 32px;
    margin-bottom: 20px;
    text-align: center;
    position: relative;
    -webkit-box-shadow: 0px 6px 3px 0px rgba(44, 50, 57, .1);
    -moz-box-shadow: 0px 6px 3px 0px rgba(44, 50, 57, .1);
    box-shadow: 0px 6px 3px 0px rgba(44, 50, 57, .1);
    h4 {
      font-size: 24px;
      font-family: $font-gotham-rounded-bold;
      color: #00CDB9;
    }

    h5 {
      color: #00CDB9;
      font-size: 16px;
      font-weight: bold;
    }
    p {
      font-size: 12px;
      font-weight: bold;
    }

    &::before {
      content: "";
      width: 2px;
      position: absolute;
      left: -2px;
      bottom: 10px;
      background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(rgba(44, 50, 57, .2)));
      background: linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(44, 50, 57, .2));
      border-radius: 3px 0px 0px 0px;
      filter: blur(1px);
      -webkit-filter: blur(1px);
      -moz-filter: blur(1px);
      -o-filter: blur(1px);
      -ms-filter: blur(1px);
    }
    &::after {
      content: "";
      width: 2px;
      position: absolute;
      right: -3px;
      bottom: 10px;
      background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(rgba(44, 50, 57, .2)));
      background: linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(44, 50, 57, .2));
      border-radius: 0px 3px 0px 0px;
      filter: blur(1px);
      -webkit-filter: blur(1px);
      -moz-filter: blur(1px);
      -o-filter: blur(1px);
      -ms-filter: blur(1px);
    }
    @media (max-width: 991px) {
      height: 560px;
      &::before, &:after {
        height: 549px;
      }
    }
  }

  .coveClubCol {
    border: 1px solid $grey-50;
  }

  .colLeftFirst {
    border-top: 1px solid  #BEC2C5;
    border-left: 1px solid  #BEC2C5;
    border-bottom: 1px solid  #BEC2C5;
    border-radius: 16px 0px 0px 0px;
    min-height: 73px;
  }

  .colLeftContent {
    font-size: 16px;
    font-weight: bold;
    padding: 23px;
  }

  .colLeft {
    border-left: 1px solid  #BEC2C5;
    border-bottom: 1px solid  #BEC2C5;
  }

  .colLeftLast {
    border-radius: 0px 0px 0px 16px;
  }

  .firstCol {
    border-top: 1px solid  #BEC2C5;
    border-top-right-radius: 16px;
  }

  .colMid {
    min-height: 73px;
    border-bottom: 1px solid  #BEC2C5;
    border-right: 1px solid $grey-300;
    position: relative;
    &::before {
     
      height: 100%;
      width: 2px;
      position: absolute;
      left: -2px;
      top: 0px;
      background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(rgba(44, 50, 57, .2)));
      background: linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(44, 50, 57, .2));
      filter: blur(1px);
      -webkit-filter: blur(1px);
      -moz-filter: blur(1px);
      -o-filter: blur(1px);
      -ms-filter: blur(1px);
    }
    &::after {
      height: 100%;
      width: 2px;
      position: absolute;
      right: -3px;
      top: 0px;
      background: -webkit-gradient(linear, right top, left top, from(rgba(255, 255, 255, 0)), to(rgba(44, 50, 57, .2)));
      background: linear-gradient(-90deg, rgba(255, 255, 255, 0), rgba(44, 50, 57, .2));
      filter: blur(1px);
      -webkit-filter: blur(1px);
      -moz-filter: blur(1px);
      -o-filter: blur(1px);
      -ms-filter: blur(1px);
    }
  }

  .colMidLast {
    border-radius: 0px 0px 16px 0px;
  }
  .colSpacer {
    border-bottom: 1px solid  #BEC2C5;
  }
  .colRight {
    border-bottom: 1px solid  #BEC2C5;
    background: $grey-50;
    position: relative;
  }

  .compareContent {
    position: relative;
    text-align: center;
    font-weight: bold;
    img, div {
      position: absolute;
      top: 50%;
      margin-top: -12px;
      height: 24px;
    }
    div {
      width: 100%;
    }
    .highlight {
      color: #00CDB9;
    }
  }

  .selectionBox {
    background: #FFFFFF;
    border-radius: 16px;
    border: 1px solid #DEDFE1;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left;
    margin-bottom: 20px;
    .optionLabel {
      font-weight: bold;
    }
    .highlight {
      color: $sidebar-green;
      font-family: $font-gotham-rounded-bold;
      font-size: 20px;
      margin-top: 10px;
    }
    .alert {
      color: $alert-color;
      font-family: $font-gotham-rounded-bold;
      font-size: 20px;
    }
  }

  .financeOption {
    text-align: left;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
  }

  .selectBtn {
    color: #FFFFFF;
    width: 130px;
    height: 40px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 5px;
    background: $secondary-color;
    font-size: 16px;
    text-align: center;
    font-family: $font-gotham-rounded-bold;
    padding-top: 8px;
    margin-bottom: 20px;
    cursor: pointer;
  }

  .disabled {
    opacity: .5;
  }

  .buttonRow {
    margin-bottom: 20px;
  }

  .footerRow {
    margin-top: 100px;
  }

  .backButton {
    position: absolute;
    bottom: 0;
  }
}
