.customerInfo {
  h3 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 24px;
    font-family: GothamRoundedBold;
    color: #191E2B;
    border-bottom: 1px #B0B1B4 solid;
  }
  
  :global {
    .coveInput {
      margin-top: 40px;
    }
  }
}
