@import "variables";

.customerInfo {
  h3 {
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: 24px;
    font-family: $font-gotham-rounded-bold;
    color: #191E2B;
    border-bottom: 1px $grey-350 solid;
  }
  
  :global {
    .coveInput {
      margin-top: 40px;
    }
  }
}
