@import './variables';

.equipment-list-item {
  border: solid 1px $grey-100;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: $space-xs;
}

.equipment-list-item__quantity {
  flex-grow: 0;
  display: flex;
  height: 84px;
  align-items: center;
  border-left: solid 1px $grey-100;
  padding: 0 $space-md;

  > div:nth-child(2) {
    width: 40px;
    text-align: center;
    font-weight: bold;
  }
}

.equipment-list-item__img {
  width: 112px;
  height: 84px;
  background-color: $grey-50;
  background-position: center;
  background-size: contain;
}

.equipment-list-item__name {
  flex-grow: 1;
  padding: 0 $space-md;
}

.equipment-list-item__owned {
  width: 100px;
  text-align: center;
  font-family: $font-gotham-rounded;
  font-weight: 700;
  font-size: 20px;
}