@import "types";
@import "variables";

.navbarContainer {
  border-bottom: 3px solid $primary--darker;
  position: relative;
  font-family: $font-gotham-rounded;
  font-weight: 700;

  :global(.navLink) {
    color: $primary-color;
    font-size: 18px;
  }

  :global(.signinLink) {
    color: $primary-color;
    font-size: 14px;
  }

  :global(.shopNowLink) {
    color: white;
    background-color: $warning;
    border-radius: 5px;
    font-size: 18px;
    $font-family: $font-gotham-rounded;
    font-weight: 700;
  }
}

.authLinks {
  padding-top: 8px;
  @media (max-width: 767px) {
    display: none;
  }
}
.signup {
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
  height: 32px;
  width: 136px;
  text-align: center;
  margin-left:30px;
  margin-right:30px;
}
.toggler {
  border: none;
  color: #FFFFFF;
  :global {
    .navbar-toggler-icon {
      height:20px;
      width:24px;
      background-image: url("/static/images/togglerWhite.svg");
    }
  }
}
.toggler.secondary {
  :global {
    .navbar-toggler-icon {
      background-image: url("/static/images/togglerTeal.svg");
    }
  }
}

.popover-header {
  background: transparent;
  $font-family: $font-gotham-rounded;
  font-weight: bold;
  font-size: 20px;
  border: none;
  div {
    border-bottom: 1px solid $sidebar-green;
  }
}
