@import "variables";

.inputBlockClass {
  display: flex;
  .coveInput {
    position: relative;
    border: 1px solid $grey-400;
    border-radius: 4px;
    padding: 2px 10px 2px 10px;
    height: 40px;
    flex: 1;
    &::before {
      position: absolute;
      bottom: 0px;
      left: 0px;
      content: "";
      height: 8px;
      width: 1px;
    }
    &::after {
      position: absolute;
      bottom: 0px;
      right: 0px;
      content: "";
      height: 8px;
      width: 1px;
    }
    input {
      border: 0px;
      width: 100%;
      caret-color: #00CDB9;
      font-size: 16px;
      height: 18px;
      font-family: $font-gotham-rounded;
      font-weight: bold;
      outline: none;
      &.active {
        margin-top: 0px;
      }
      &.inactive {
        margin-top: 10px;
      }
    }
    input:placeholder { /* Firefox 18- */
      font-family: $font-gotham-rounded;
      font-weight: bold;
      font-size: 18px;
      color: $grey-300;
    }
    .inputLabel {
      font-family: $font-gotham-rounded;
      font-weight: bold;
      font-size: 10px;
      height: 10px;
      color: $grey-300;
      animation-name: bounceInUp;
      animation-duration: 0.4s;
      &.active {
        display: block;
      }
      &.inactive {
        display: none;
      }
    }
  }
  
  .activeInput, .activeInput::before, .activeInput::after {
    border-color: #00CDB9;
  }
  
  @keyframes bounceInUp {
    from,
    60%,
    75%,
    90%,
    to {
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      transform: translate3d(0, 20px, 0);
    }
  
    60% {
      opacity: 0.2;
      transform: translate3d(0, 12px, 0);
    }
  
    75% {
      opacity: 0.4;
      transform: translate3d(0, 8px, 0);
    }
  
    90% {
      opacity: 0.7;
      transform: translate3d(0, 4px, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}
