.priceComparisonTable {
  :global {
    .row {
      font-family: GothamRoundedBold;
      font-size: 20px;
      padding-top: 20px;
    }
    .col {
      padding-left: 20px;
    }
  }
}

.tableRows {
  :global {
    .row {
      border-bottom: 1px solid #BEC2C5;
      border-left: 1px solid #BEC2C5;
      border-right: 1px solid #BEC2C5;
    }
  }
}
.pcTableColLeft {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: bold;
  @media (max-width: 767px) {
    padding-left: 0px;
  }
}
.pcTableColMid {
  height: 56px;
  color: #00B19B;
}

.pctHeader {
    padding-bottom: 20px;
    margin-top: 66px;
}

.lastRow {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.firstRow {
  border-top: 1px solid #BEC2C5;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}
