@import 'variables';

.cartHeader {
  margin: 20px;
  ul {
    list-style: none;
    padding-left: 0;
  }
}

.cartSubHeader {
  position: relative;
  height: 142px;
  margin-top:40px;
  margin-bottom: 90px;
  h4, p {
    padding-left: 25px;
    padding-right: 25px;
  }
  h4 {
    padding-top: 0px;
    color: $sidebar-green;
  }
  &::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 100%;
    margin-left: -1px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    background: $sidebar-green;
  }
}

.cartColumn {
  box-shadow: 0px 6px 5px 2px rgba(44,50,57,0.2);
  max-width: 368px;
  margin-bottom: 15px;
  border-radius: 16px;
  border: 1px solid $grey-50;
  h4 {
    font-family: $font-gotham-rounded;
    font-weight: bold;
    font-size: 24px;
  }
}
.packRow {
  margin-top: 40px;
  .packName {
    font-size: 14px;
  }
}

.footerLink {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 20px;
  font-size: 14px;
}

.linkTertiary {
  color: $accent-color;
  cursor: pointer;
}

.bold {
  font-weight: bold;
}

.addToCartBtn {
  color: white;
  height: 40px;
  border-radius: 5px;
  background: $secondary-color;
  font-size: 14px;
  text-align: center;
  font-family: $font-gotham-rounded;
  font-weight: bold;
  padding: 8px 8px 10px 10px;
  margin: 8px 20px 28px 20px;
  cursor: pointer;
}
