@import 'variables';

.yellowBoxes {
  margin-bottom: 100px;
  .footerSquare {
    width: 100%;
    height: 179px;
    background-color: yellow;
  }
  @media (max-width: $width-lg) {
    display: none;
  }
}