@import 'variables';

.footerMobileHeaderDiv {
  border-bottom: 1px solid #00C7AF;
  width: 100%;
  margin-left: 0px;
  &:first-child {
    border-top: 1px solid #00C7AF;
  }
}

.footerMobileDiv {
  width: 100%;
}

:global(.menuRow) {
  padding: 20px 5px 20px 5px;
}

.footerTitle {
  font-family: $font-gotham-rounded;
  font-weight: 400;
  color: #000;
  font-size: 1.4em;
  margin-left: 20px;
}

ul {
  li {
    font-family: $font-gotham-rounded;
    font-weight: 300;
    font-size: 18px;
    line-height: 34px;
    :global(a) {
      color: $grey-1000;
    }
  }
}

input[type=text] {
  margin: 20px 0 20px 0;
  width: 100%;
}

.socialMedia {
  img {
    margin-right: 10px;
  }
}