@import 'variables';

.footerMobileHeaderDiv {
    border-bottom-style: solid;
    border-bottom-color: #00C7AF;
    border-bottom-width: 2px;
    width: 767px;
    padding-top: 20px;
    margin-left: 0px;
}

.footerMobileDiv {
    width: 767px;
}

.divImgPlusTeal {
    margin-left: -100px;
    margin-bottom: 10px;
}

.footerTitle {
    font-family: $font-gotham-rounded;
    font-weight: 400;
    color: #000;
    font-size: 1.4em;
    margin-left: 20px;
  }