@import "variables";

:global(.checkoutContainer) {
  padding-bottom: 72px;
}

.checkoutSidebar {
  @media (max-width: $width-lg) {
    display: none;
  }
}

.flexCol {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33%;
  flex: 0 0 33%;
  max-width: 125%;
  .stageLabel {
    @media (max-width: $width-lg) {
      display: none;
    }
  }
}

.flexCol.activeStage {
  @media (max-width: $width-lg) {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .stageLabel {
    display: inline;
  }
}

.shoppingCartBtnContainer {
  width: 100%;
  border-radius: 16px;
  border: 1px solid #F0F4F7;
  font-size: 20px;
  font-family: $font-gotham-rounded;
  font-weight: bold;
  margin-top: 32px;
  -webkit-box-shadow: 0px 6px 6px 0px rgba(44,50,57, 0.2);
  -moz-box-shadow:    0px 6px 6px 0px rgba(44,50,57, 0.2);
  box-shadow:         0px 6px 6px 0px rgba(44,50,57, 0.2);

  @media (min-width: $width-lg+1) {
    display: none;
  }
}

.shoppingCartBtn {
  padding-top: 18px;
  padding-bottom: 18px;
}

.spacer {
  margin-top: 60px;
}

.checkoutStageRow {
  font-family: $font-gotham-rounded;
  font-weight: bold;
  font-size: 14px;
  color: $grey-500;
  margin-bottom: 80px;
}

.stageIndicator {
  width: 100%;
  height: 8px;
  border-radius: 4px;
  background: $grey-300;
  opacity: 0.5;
  margin-top: 6px;
}

.activeStage {
  color: #191E2B;
}

.activeStage .stageIndicator {
  background: #5BC4B8;
  opacity: 1;
}

.footerControls {
  margin-top: 20px;
  .returnColumn {
    flex: 1;
  }
  
  @media (max-width: $width-sm) {
    .continueColumn, .returnColumn {
      flex: none;
      margin: 0 auto 32px;
    }
  }
}

.returnLink {
  font-family: $font-gotham-rounded;
  font-weight: bold;
  font-size: 16px;
  color: $grey-500;
  padding-top: 3px;
}

.actionBtn {
  color: #FFFFFF;
  height: 40px;
  width: 236px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 4px;
  background: #F17927;
  font-size: 12px;
  text-align: center;
  font-family: $font-gotham-rounded;
  font-weight: bold;
  padding-top: 12px;
  cursor: pointer;
}

.tab {
  display: none;
}

.activePage.tab {
  display: block
}

.returnToShop {
  margin-top: 5px;
  @media (max-width: $width-sm) {
    text-align: center;
  }
}

.actionBtn {
  @media (max-width: $width-md) {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;
  }
}

:global(.coveInput) {
  margin-bottom: 40px;
}
