@import 'variables';

@media (min-width: $width-lg+1) {
  .mobile {
    display: none;
  }
  .full {
    display: block;
  }
}

@media (max-width: $width-lg) {
  .mobile {
    display: block;
    overflow: hidden;
  }
  .full {
    display: none;
  }
}
