@each $prop, $abbrev in (height: h, width: w) {

  @for $index from 0 through 128 {
      $size: $index * 4;
      $length: #{$size}px;

      .#{$abbrev}-#{$size} {
          #{$prop}: $length !important;
          min-#{$prop}: $length !important;
          max-#{$prop}: $length !important;
      }
  }

  // Percentage
  @for $i from 0 through 20 {
      $i-p: 5 * $i;
      $size-p: 5% * $i;

      .#{$abbrev}-#{$i-p}-p {
          #{$prop}: $size-p !important;
      }
  }
}
