$primary: #00B19A;
$primary--darker: #00CDB9;
$primary--lighter: #3EBEB1;
$secondary: #4E5661;
$secondary--lighter: #DEE8ED;

$theme-colors: (
  'primary--lighter': $primary--lighter,
  'secondary--lighter': $secondary--lighter
);

$warning: #F17927;
$warning--darker: #E67C33;

$primary-color: #3EBEB1;
$secondary-color: #F27927;
$alert-color: #ea5b5b;
$accent-color: #008CFF;
$accent-dark-color: #274A67;

$grey-50: #F0F4F7;
$grey-100: #E4EbF1;
$grey-200: #DFE3E7;
$grey-300: #BEC1C5;
$grey-350: #B0B1B4;
$grey-400: #989AA0;
$grey-500: #8A9097;
$grey-600: #707070;
$grey-700: #4E5661;
$grey-900: #2C3138;
$grey-1000: #2C3239;

$sidebar-green: #00B19A;
$footer-green: #58B7A6;
$button-green: #00CDB9;

$space-xs: 8px;
$space-sm: 16px;
$space-md: 24px;
$space-lg: 32px;
$space-xl: 64px;

$width-xs: 319px;
$width-sm: 557px;
$width-md: 767px;
$width-lg: 991px;

$col-padding: 8px;

$font-gotham-rounded: 'GothamRoundedBook';
$font-gotham-rounded-bold: 'GothamRoundedBold';
$font-gotham-rounded-light: 'GothamRoundedLight';
$font-gotham-rounded-medium: 'GothamRoundedMedium';
$font-open-sans: 'Open Sans';