$primary-color: #3EBEB1;
$secondary-color: #F27927;

$accent-color: #008CFF;
$accent-dark-color: #274A67;

$grey-50: #F0F4F7;
$grey-100: #E4EbF1;
$grey-200: #DFE3E7;
$grey-300: #BEC1C5;
$grey-500: #8A9097;
$grey-700: #4E5661;
$grey-900: #2C3138;

$space-xs: 8px;
$space-sm: 16px;
$space-md: 24px;
$space-lg: 32px;
$space-xl: 96px;

$font-gotham-rounded: 'Gotham Rounded', 'Helvetica', 'Arial', sans-serif;
$font-open-sans: 'Open Sans', 'Helvetica', 'Arial', sans-serif;