@import 'variables';
@import 'utilities';
@import 'types';
@import 'buttons';
@import 'components/list';
@import 'typography';
@import 'helpers';

body {
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
  color: $secondary;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: $font-gotham-rounded;
  font-weight: 700;
}

label, .label {
  font-family: $font-gotham-rounded;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 0;
}

a, a:not([href]):not([tabindex]) {
  cursor: pointer;
  color: $accent-color;
  font-family: $font-gotham-rounded;
  font-weight: 700;

  &:hover {
    text-decoration: underline;
    color: $accent-color;
  }
}

button {
  cursor: pointer;

  &:focus {
    box-shadow: none;
    outline: none;
  }
}

p {
  font-family: $font-gotham-rounded;
}

input {
  font-family: $font-gotham-rounded;
  font-weight: 500;
  font-size: 14px;
}

input[type=checkbox] {
  margin-right: $space-xs;
}

.icon {
  display: inline-block;
}
