@import "types";
@import "variables";
.homeContainer {
  background-color: $primary;
  font-family: $font-gotham-rounded;
  @media screen and (max-width: $width-md) {
    margin-left: 27px;
    margin-right: 27px;
  }
  .coverSection {
    width: 100%;
    background-image: url('/static/images/homepage2/homeback2-1.png');
    background-size: cover;
    position: relative;
    height: 80vh;
    .titleRow {
      position: absolute;
      width: 100%;
      top: 0;
      color: white;
      .coverLeftArea {
        display: flex;
        flex-direction: column;
        margin: 124px 0 0 147px;
        h1 {
          font-size: 72px;
          max-width: 543px;
          font-weight: bold;
        }
        p {
          max-width: 300px;
          font-size: 25px;
          font-weight: 500;
        }
      }

      @media screen and (max-width: $width-lg) {
        .coverLeftArea {
          h1 {
            font-size: 60px;
          }
          a {
            span {
              font-size: 40px;
            }
          }
        }
      }
      @media screen and (max-width: $width-md) {
        .coverLeftArea {
          text-align: center;
          margin-top: 10px;
          h1 {
            font-size: 40px;
            max-width: 100%;
          }
          a {
            span {
              font-size: 20px;
            }
          }
        }
      }
      @media screen and (max-width: $width-sm) {
        .coverLeftArea {
          display: none;
        }
        .coverRightArea {
          margin-top: 20px;
          h1 {
            font-size: 30px;
          }
          span {
            font-size: 20px;
          }
        }
      }
    }
    @media screen and (max-width: $width-md) {
    }
  }

  .testimonialSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vw;
    text-align: center;
    color: $grey-700;
    height: 80vh;
    background-image: url('/static/images/homepage2/homeback2-2.png');

    h2, p {
      width: 84%;
    }

    h2 {
      font-size: 55px;
      font-weight: 500;
      margin-bottom: 38px;
    }

    p {
      font-size: 25px;
      font-weight: 100;
    }
    .products {
      div {
        padding-left: 28px;
        padding-right: 28px;
        
        .imageArea {
          display: flex;
          align-items: flex-end;
          justify-content: center;
          min-height: 247px;
          padding-bottom: 20px;
        }

        img {
          width: 100%;
          &.coveAppImg {
            width: 60%;
          }
        }

        h3 {
          font-size: 20px;
          font-weight: 700;
        }

        p {
          font-size: 12px;
          font-weight: 100;
        }
      }
    }
    .link {
      font-size: 16px;
      color: $primary;
    }
    @media (max-width: $width-md) {
      h2 {
        font-size: 40px;
      }
      p {
        width: 100%;
        font-size: 12px;
      }
    }
  }

  .builtProductsSection {
    width: 100%;
    height: 80vh;
    background-image: url('/static/images/homepage2/homeback2-3.png');
    position: relative;
    color: $grey-700;
    font-family: $font-gotham-rounded;
    padding: 153px;
    h2 {
      font-size: 40px;
    }
    ul {
      display: flex;
      flex-direction: row;
      list-style: none;
      font-size: 24px;
      padding-left: 0;
    }
    p {
      font-size: 14px;
      font-family: $font-open-sans;
      margin-top: 106px;
      max-width: 305px;
    }
  }

  .checkSection {
    width: 100%;
    position: relative;
    background-image: url('/static/images/homepage2/homeback2-4.png');
    background-size: cover;
    padding: 125px 155px 3px 155px;
    .checkRow {
      display: flex;
      flex-direction: row;
      margin-bottom: 122px;
      .leftSide {
        display: flex;
        flex-direction: row;
        align-items: start;
        max-width: 400px;
        h2 {
          font-size: 40px;
          font-weight: 500;
          color: $grey-900;
          margin-left: 40px;
        }
      }
      p {
        font-size: 20px;
        font-family: $font-open-sans;
      }
    }
  }

  .center {
    text-align: center;
  }

  .paySecuritySection {
    color: $grey-1000;
    margin-top: 107px;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 118px 185px 145px 185px;
    h2 {
      font-size: 40px;
      font-weight: bold;
      max-width: 380px;
      margin-bottom: 79px;
      text-align: center;
    }
    .securityCol {
      display: flex;
      flex-direction: column;
      align-items: center;
      ul {
        margin-top: 41px;
        padding-left: 0;
      }
      h3 {
        font-size: 40px;
        font-weight: 500;
        margin-top: 48px;
      }
      p {
        font-size: 18;
        font-weight: 500;
        padding-left: 40px;
      }
    }
  }

  .eleganceSection {
    background-image: url("/static/images/eleganceSectionBackground.png");
    width: 100%;
    height: 50vw;
    background-repeat: no-repeat;
    background-position: 90% 0;
    background-size: 120%;
    position: relative;
    color: white;
    margin-top: 42px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    .descriptionArea {
      display: flex;
      align-items: center;
      justify-content: center;

      .contentTextArea {
        display: flex;
        flex-direction: column;
        width: 80%;
        font-family: $font-gotham-rounded;
        font-weight: 500;

        h2 {
          font-size: 45px;
        }

        p {
          width: 90%;
          font-size: 18px;
        }
      }
    }
    @media screen and (max-width: $width-md) {
      display: none;
    }
  }

  .priceComparisonTableRow {
    display: none;
  }

  .jordanSayingSection {
    width: 100%;
    text-align: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
    color: $primary-color;

    .sayingTextArea {
      width: 76%;
      font-family: $font-gotham-rounded;
      font-style: italic;
      .sayingText {
        font-size: 60px;
      }
      .authorName {
        font-size: 24px;
      }
      hr {
        width: 80%;
        background-color: $primary-color;
        margin: 48px 0 48px 0;
      }
    }
    @media screen and (max-width: $width-md) {
      .sayingTextArea {
        width: 100%;
        .sayingText {
          font-size: 20px;
        }
        hr {
          width: 100%;
        }
      }
    }
  }

  .savingsSection {
    width: 100%;
    flex-direction: column;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 10vw;
    text-align: center;
    font-family: $font-gotham-rounded;
    h2 {
      width: 90%;
      color: $primary-color;
      font-size: 60px;
      font-weight: 700;
      padding-bottom: 44px;
    }
    p {
      color: $grey-1000;
      font-size: 24px;
      font-weight: 300;
      margin-top: 2vw;
      margin-bottom: 2vw;
    }
    .shortText {
      font-size: 14px;
      display: none;
    }
    .wideText {
      display: block;
    }
    .savingsLabel {
      width: 80%;
      color: $accent-dark-color;
      font-weight: 300;
      font-style: italic;
      h3, h6 {
        text-align: right;
      }
      h3 {
        font-size: 60px;
      }
      h6 {
        font-size: 20px;
        margin-right: 5%;
      }
    }
    img {
      width: 100%;
    }
    .rangeRow {
      width: 100%;
      margin-top: 50px;
    }
    @media (max-width: $width-md) {
      padding: 0 0 182px 0;
      h2 {
        font-size: 40px;
      }
      .wideText {
        display: none;
      }
      .shortText {
        display: block;
      }
    }
  }

  .processSection {
    background-color: $grey-50;
    max-width: 1168px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    color: $grey-1000;
    padding: 50px 0 25px 0;
    border-radius: 4px 32px 4px 32px;
    .leftArea {
      padding-left: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: $font-gotham-rounded;
      h2 {
        font-size: 60px;
        font-weight: 700;
      }
      p {
        font-size: 24px;
        font-weight: 300;
      }
      ol {
        li {
          font-size: 32px;
          font-family: $font-open-sans;
        }
      }
    }
    .rightArea {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: -15px;
      img {
        width: 20vw;
      }
    }
    @media (max-width: $width-md) {
      border-radius: 5px;
      padding-bottom: 49px;
      .leftArea {
        padding: 20px;
        h2 {
          text-align: center;
          font-size: 40px;
        }
        p {
          margin: 44px 0 40px 0;
          font-size: 12px;
        }
        ol {
          li {
            font-size: 20px;;
            margin-bottom: 60px;
          }
        }
      }
      .rightArea {
        display: none;
      }
    }
  }

  :global(.landingHeaderStyle){
    background-image: url("/static/images/landingBanner.png");
    height: 100%;
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
  }
}
