@import 'variables';

.productContent {
  padding: 119px 0 186px 0;
  width: 100%;
  color: $grey-600;
  font-family: $font-gotham-rounded;
  font-weight: 500;
  .productRow {
    margin: 0 40px 80px 40px;
    background-color: $secondary--lighter;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap-reverse;
    &.bordered {
      border: 1px solid #22405c;
    }
    h1 {
      margin-bottom: 35px;
      font-weight: bold;
      font-size: 55px;
      color: $grey-600;
    }
    .productDescription {
      margin-top: 43px;
      font-size: 25px;
      color: $grey-700;
    } 
    .carouselLeft {
      padding: 47px 38px 42px 71px;
      width: 55%;
      color: $grey-700;
      ul {
        list-style: none;
        padding-left: 0;
        margin-top: 85px;
        display: flex;
        li {
          font-size: 20px;
        }
        &.greenList {
          li {
            color: #01A891;
            font-size: 25px;
            margin-bottom: 25px;
          }
        }
      }
      .buttonRow {
        margin-top: 45px;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        :global(.selectableButton) {
          margin-right: 41px;
        }
        .price {
          font-size: 25px;
          max-width: calc(100% + 203px);
          min-width: 203px;
        }
        .extraButton {
          font-size: 20px;
          font-weight: bold;
          border: none;
          background: none;
          color: $grey-600;
        }
      }
    }
    .carouselRight {
      width: 45%;
      position: relative;
      :global(.carouselImage) {
        height: 80vh;
        .carousel-item {
          border-radius: 16px;
          img {
            width: 100%;
          }
        }
      }
      .carouselLogo {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 7.5vw;
        max-width: 108px;
      }
      .categoryPhoto {
        width: 100%;
        max-width: 731px;
      }
    }
    .productLeft {
      padding: 47px 38px 42px 71px;
      width: 60%;
      .titleRow {
        display: flex;
        align-items: center;
        h3 {
          font-size: 35px;
          font-weight: bold;
          color: $button-green;
          color: $grey-600;
          margin-right: 64px;
        }
      }
      .descriptionRow {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        position: relative;
        .productPhoto {
          margin-top: 25px;
          max-width: 100%;
        }
        .navigations {
          display: flex;
          align-items: center;
          button {
            border: none;
            background: transparent;
            outline: none;
            padding: 0;
            img {
              width: 100%;
              height: 100%;
            }
          }
          h3 {
            font-weight: bold;
            margin: 0 25px 0 25px;
          }
        }
      }
    }
    .productRight {
      padding: 20px 70px 20px 0;
      width: 40%;
      img {
        max-height: 775px;
        width: 100%;
      }
    }
    .grey {
      color: $grey-1000; 
    }
    .green {
      color: $primary-color;
    }
    
  }
  .tabSection {
    margin-top: 195px;
    .tabBars {
      display: flex;
      flex-flow: wrap;
      .tabBarItem {
        outline: none;
        background-color: $secondary--lighter;
        margin-left: 72px;
        padding: 16px 32px 16px 32px;
        font-size: 45px;
        font-weight: bold;
        border: 1px solid #22405c;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-bottom: -2px;
        color: $grey-600;
        &.selected {
          border-bottom: none;
        }
      }
    }
  }
  @media screen and (max-width: $width-md) {
    padding: 66px 10px 30px 10px;
    .productRow {
      margin: 0 0 35px 0;
      padding: 38px 20px 38px 20px;
      .carouselLeft, .carouselRight, .productLeft {
        :global(.carouselImage) {
          height: 50vh;
        }
        padding: 10px;
        width: 100%;
        align-items: center;
        h1 {
          font-size: 31px;
        }
        .titleRow {
          h3 {
            font-size: 14px;
          }
          .medium span {
            font-size: 11px;
            font-weight: bold;
          }
        }
        .descriptionRow {
          .productDescription {
            font-size: 12px;
          }
        }
        .placementPhoto {
          max-width: 100%;
          margin-top: 100px;
        }
        .carouselImage {
          height: 100vw;
        }
        .carouselLogo {
          display: none;
        }
        .productDescription {
          font-size: 16px;
        }
        .buttonRow {
          :global(.selectableButton) {
            font-size: 13px;
          }
          .extraButton {
            font-size: 11px;
          }
          &.detailsRow {
            flex-direction: column;
            .price {
              text-align: center;
            }
            :global(.selectableButton) {
              margin: 26px 0 0 0;
              font-size: 13px;
            }
          }
        }
        .navigations {
          button {
            width: 14.27px;
            height: 18.71px;
          }
          h3 {
            font-size: 14px;
          }
        }
      }
      .productRight {
        display: none;
      }
    }
    .tabSection {
      .tabBars {
        .tabBarItem {
          width: 100%;
          margin: 0 0 14px 0;
          padding: 10px 0 10px 0;
          font-size: 45px;
          &.selected {
            display: block;
          }
        }
      }
      .categoryPhoto {
        display: none;
      }
    }
  }
}

.desktopOnly {
  @media (max-width: $width-md) {
    display: none;
  }
}

.mobileOnly {
  width: 100%;
  @media (min-width: $width-md) {
    display: none;
  }
}