@import 'variables';

.productContent {
  padding: 119px 0 186px 0;
  width: 100%;
  color: $grey-600;
  font-family: $font-gotham-rounded;
  
  .productRow {
    margin: 0 40px 80px 40px;
    background-color: $secondary--lighter;
    border-radius: 5px;
    display: flex;
    flex-wrap: wrap;
    &.bordered {
      border: 1px solid #22405c;
    }
    h1 {
      margin-bottom: 35px;
      font-weight: bold;
      font-size: 55px;
    }
    .productDescription {
      margin-top: 43px;
      font-size: 25px;
    } 
    .carouselLeft {
      padding: 47px 38px 42px 71px;
      width: 55%;
      
      ul {
        list-style: none;
        padding-left: 0;
        margin-top: 85px;
        display: flex;
        li {
          font-size: 20px;
        }
        &.greenList {
          li {
            color: #01A891;
            font-size: 25px;
            margin-bottom: 25px;
          }
        }
      }
      .buttonRow {
        margin-top: 45px;
        display: flex;
        align-items: center;
        .price {
          font-size: 25px;
          max-width: calc(100% + 203px);
          min-width: 203px;
        }
        .extraButton {
          font-size: 20px;
          font-weight: bold;
          border: none;
          background: none;
          margin-left: 41px;
          color: $grey-600;
        }
      }
    }
    .carouselRight {
      width: 45%;
      position: relative;
      :global(.carouselImage) {
        height: 80vh;
        .carousel-item {
          border-radius: 16px;
          img {
            width: 100%;
          }
        }
      }
      .carouselLogo {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 7.5vw;
        max-width: 108px;
      }
      .categoryPhoto {
        width: 100%;
        max-width: 731px;
      }
    }
    .productLeft {
      padding: 47px 38px 42px 71px;
      width: 60%;
      .titleRow {
        display: flex;
        align-items: center;
        h3 {
          font-size: 35px;
          font-weight: bold;
          color: $button-green;
          color: $grey-600;
          margin-right: 64px;
        }
      }
      .descriptionRow {
        display: flex;
        align-items: center;
        flex-direction: column;
        height: 100%;
        position: relative;
        .productPhoto {
          margin-top: 25px;
          max-width: 100%;
        }
        
        .navigations {
          position: absolute;
          bottom: 150px;
          display: flex;
          align-items: center;
          button {
            border: none;
            background: transparent;
            outline: none;
          }
          h3 {
            margin: 0 25px 0 25px;
          }
        }
      }
    }
    .productRight {
      padding: 20px 70px 20px 0;
      width: 40%;
      img {
        max-height: 775px;
      }
    }
    .grey {
      color: $grey-1000; 
    }
    .green {
      color: $primary-color;
    }
    
  }
  .tabSection {
    margin-top: 195px;
    .tabBars {
      display: flex;
      flex-flow: wrap;
      .tabBarItem {
        outline: none;
        background-color: $secondary--lighter;
        margin-left: 72px;
        padding: 16px 32px 16px 32px;
        font-size: 45px;
        font-weight: bold;
        border: 1px solid #22405c;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        margin-bottom: -2px;
        color: $grey-600;
        &.selected {
          border-bottom: none;
        }
      }
    }
  }
  @media screen and (max-width: $width-md) {
    .productRow {
      .carouselLeft, .carouselRight, .productLeft, .productRight {
        padding: 10px;
        width: 100%;
        align-items: center;
        text-align: center;
        .placementPhoto {
          max-width: 100%;
          margin-top: 100px;
        }
        .carouselImage {
          height: 100vw;
        }
      }
    }
    .tabSection {
      .tabBars {
        .tabBarItem {
          width: 100%;
          margin-left: 0;
          padding: 10px 0 10px 0;
          font-size: 20px;
          &.selected {
            display: block;
          }
        }
      }
    }
  }
}

