@import "types";
@import "variables";
.homeContainer {
  font-family: $font-gotham-rounded;
  @media screen and (max-width: $width-md) {
    margin-left: 27px;
    margin-right: 27px;
  }
  .coverSection {
    width: 100%;
    position: relative;
    background-image: url('/static/images/security/security-back-1.png');
    background-size: cover;
    height: 80vh;
    padding: 260px 75px 265px 75px;
    .coverLeftArea {
      h1 {
        font-size: 60px;
        width: 100%;
        max-width: 400px;
        font-weight: bold;
      }
      button {
        background-color: $secondary-color;
        border-radius: 5px;
        border: none;
        font-size: 42px;
        font-weight: bold;
        color: white;
        padding: 29px 74px 29px 43px;
        margin-top: 55px;
      }
    }
    .coverRightArea {
      margin-top: 38px; 
    }
    @media screen and (max-width: $width-lg) {
      .coverRightArea {
        h1 {
          font-size: 60px;
        }
        a {
          span {
            font-size: 40px;
          }
        }
      }
    }
    @media screen and (max-width: $width-md) {
      .coverLeftArea {
        margin-top: 10px;
        text-align: center;
      }
      .coverRightArea {
        text-align: center;
        margin-top: 10px;
        h1 {
          font-size: 40px;
          max-width: 100%;
        }
        a {
          span {
            font-size: 20px;
          }
        }
      }
    }
    @media screen and (max-width: $width-sm) {
      .coverLeftArea {
        display: none;
      }
      .coverRightArea {
        margin-top: 20px;
        h1 {
          font-size: 30px;
        }
        span {
          font-size: 20px;
        }
      }
    }
  }

  .gridItem {
    height: calc((100vw - 63px) / 2);
  }
  
  .coveProtect {
    background-image: url('/static/images/security/security-coveprotect.png');
    .wrapper {
      background-color: rgba(255, 255, 255, 0.55);
    }
  }
  .motionSensor {
    background-image: url('/static/images/security/security-motionsensor.png');
    .wrapper {
      background-color: rgba(1, 168, 145, 0.56);
    }
  }
  .totalControl {
    background-image: url('/static/images/security/security-motionsensor.png');
  }
  .protectionStarts {
    background-image: url('/static/images/security/security-protectionstart.png');
  }
  .totalSecurity {
    background-image: url('/static/images/security/security-totalsecurity.png');
  }
  .allHomes {
    background-image: url('/static/images/security/security-allhomes.png');
  }
  .instaText {
  }
  .liveAssist {
    background-image: url('/static/images/security/security-liveassist.png');
  }
  .easyInstall {
    background-image: url('/static/images/security/security-easyinstall.png');
  }
  .lifeSafety {
  }
  .noContracts {
    
  }
  .coveGuarantee {
    
  }
  .wrapper {
    margin-top: 38px;
    margin-left: 54px;
    margin-right: 54px;
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 5px;
    padding: 25px 111px 25px 111px;
    text-align: center;
    h3 {
      font-size: 35px;
      color: #272A31;
      font-weight: bold;
    }
    p {
      font-size: 20px;
      font-weight: 500;
    }
  }
  @media screen and (max-width: $width-md) {
    .coveSection {
      display: none;
    }
    .gridItem {
      height: calc(100vw - 42px);
    }
  }
}
