@import "types";
@import "variables";
.homeContainer {
  @media screen and (max-width: $width-md) {
    margin-left: 27px;
    margin-right: 27px;
  }
  .coverSection {
    width: 100%;
    position: relative;
    background-image: url('/static/images/security/security-back-1.png');
    background-size: cover;
    height: 80vh;
    .titleRow {
      position: absolute;
      width: 100%;
      top: 0;
      .coverLeftArea {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        h1 {
          font-size: 72px;
          width: 100%;
          max-width: 408px;
        }
      }
      .coverRightArea {
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: $font-gotham-rounded;
        font-weight: 700;
        margin-top: calc(145% / 640 * 100); 
        
      }
      @media screen and (max-width: $width-lg) {
        .coverRightArea {
          h1 {
            font-size: 60px;
          }
          a {
            span {
              font-size: 40px;
            }
          }
        }
      }
      @media screen and (max-width: $width-md) {
        .coverLeftArea {
          margin-top: 10px;
          text-align: center;
        }
        .coverRightArea {
          text-align: center;
          margin-top: 10px;
          h1 {
            font-size: 40px;
            max-width: 100%;
          }
          a {
            span {
              font-size: 20px;
            }
          }
        }
      }
      @media screen and (max-width: $width-sm) {
        .coverLeftArea {
          display: none;
        }
        .coverRightArea {
          margin-top: 20px;
          h1 {
            font-size: 30px;
          }
          span {
            font-size: 20px;
          }
        }
      }
    }
    @media screen and (max-width: $width-md) {
      display: none;
    }
  }

  .setupProcessSection {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10vw;
    text-align: center;
    color: $grey-700;
    font-family: $font-gotham-rounded;

    h2, p {
      width: 84%;
    }

    h2 {
      font-size: 55px;
      font-weight: 500;
      margin-bottom: 38px;
    }

    p {
      font-size: 25px;
      font-weight: 100;
    }

    .products {
      div {
        padding-left: 28px;
        padding-right: 28px;
        
        .imageArea {
          display: flex;
          align-items: flex-end;
          justify-content: center;
          min-height: 247px;
          padding-bottom: 20px;
        }

        img {
          width: 100%;
          &.coveAppImg {
            width: 60%;
          }
        }

        h3 {
          font-size: 20px;
          font-weight: 700;
        }

        p {
          font-size: 12px;
          font-weight: 100;
        }

        .watchVideoLink {
          img {
            width: 20px;
            height: 20px;
          }
          span {
            color: $warning--darker;
            font-size: 12px;
            font-weight: 700;
          }
        }
      }
    }
    @media (max-width: $width-md) {
      .imageArea {
        margin-top: 53px;
      }
      h2 {
        font-size: 40px;
      }
      p {
        width: 100%;
        font-size: 12px;
      }
    }
  }

  .builtProductsSection {
    width: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
    margin: 152px 0 69px 0;
    color: $grey-700;
    font-family: $font-gotham-rounded;
    img {
      width: 100%;
    }
    .descriptionArea {
      position: absolute;
      top: 0;
      display: flex;
      flex-direction: column;
      max-width: 560px;
      margin: 192px 0 50px 76px;
      h2 {
        font-size: 45px;
        font-weight: 500;
      }
      p {
        font-size: 18px;
        font-weight: 100;
      }
    }
    @media screen and (max-width: $width-lg) {
      .descriptionArea {
        margin: 30px 0 20px 20px;
        p {
          width: 90%;
        }
      }
      
    }
    @media screen and (max-width: $width-md) {
      display: none;
      .descriptionArea {
        .h2 {
          font-size: 40px;
        }
      }
    }
    @media screen and (max-width: $width-sm) {
      .descriptionArea {
        position: relative;
        margin: 20px 0 20px 20px;
        h2 {
          font-size: 20px;
        }
      }
    }
  }

  .liveAssistSection {
    width: 100%;
    position: relative;
    color: $grey-700;
    .leftArea {
      width: (516vw / 1440 * 100);
      top: calc(72% / 630 * 100);
      position: absolute;
      max-width: 521px;
    }
    .liveAssistRow {
      border-radius: 4px 32px 4px 32px;
      background-color: #F0F5F7;
      padding: 50px 115px 40px 40vw;
      display: flex;
      justify-content: flex-end;
      margin: 0 135px 0 135px;
      .rightArea {
        max-width: 560px;
        h2 {
          font-size: 60px;
          font-family: $font-gotham-rounded;
          font-weight: 700;
        }
        h3 {
          font-size: 24px;
          font-family: $font-gotham-rounded;
          font-weight: 300;
        }
        ol {
          padding-left: 1.5em;
          li {
            margin-bottom: 50px;
            font-size: 16px;
            font-family: $font-open-sans;
            font-weight: 100;
          }
        }
      }
    }
    @media screen and (max-width: $width-lg) {
      .liveAssistRow {
        margin: 0 70px 0 70px;
        padding: 50px 60px 40px 40vw;
      }
    }
    @media screen and (max-width: $width-md) {
      .liveAssistRow {
        border-radius: 0;
        margin: 0;
        padding: 20px 10px 20px 10px;
        .rightArea {
          max-width: 90%;
          margin: 0 auto;
          h2 {
            font-size: 40px;
            text-align: center;
          }
          h3 {
            margin-top: 56px;
            font-size: 15px;
            margin-bottom: 79px;
          }
          ol {
            li {
              margin-bottom: 50px;
              font-size: 10px;
              font-weight: 100;
            }
          }
        }
      }
      .leftArea {
        display: none;
      }
    }
  }

  .center {
    text-align: center;
  }

  .paySecuritySection {
    color: $grey-1000;
    margin-top: 107px;
    .descriptionArea {
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      font-family: $font-gotham-rounded;
      .contentTextArea {
        width: 80%;
        h2 {
          font-size: 60px;
          font-weight: 700;
          &.greenTitle {
            color: $primary-color;
          }
        }
        p {
          font-size: 16px;
          font-weight: 300;
          margin-top: 3vw;
          width: 80%;
        }
      }
    }
    @media screen and (max-width: $width-md) {
      margin-top: 87px;
      .descriptionArea {
        .contentTextArea {
          width: 100%;
          text-align: center;
          h2 {
            font-size: 40px;
          }
          p {
            margin: 68px 0 115px 0;
            width: 100%;
          }
        }
      }
    }
  }

  .eleganceSection {
    background-image: url("/static/images/eleganceSectionBackground.png");
    width: 100%;
    height: 50vw;
    background-repeat: no-repeat;
    background-position: 90% 0;
    background-size: 120%;
    position: relative;
    color: white;
    margin-top: 42px; 
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    .descriptionArea {
      display: flex;
      align-items: center;
      justify-content: center;

      .contentTextArea {
        display: flex;
        flex-direction: column;
        width: 80%;
        font-family: $font-gotham-rounded;
        font-weight: 500;

        h2 {
          font-size: 45px;
        }

        p {
          width: 90%;
          font-size: 18px;
        }
      }
    }
    @media screen and (max-width: $width-md) {
      display: none;
    }
  }

  .priceComparisonTableRow {
    display: none;
  }

  .jordanSayingSection {
    width: 100%;
    text-align: center;
    padding-top: 5vw;
    padding-bottom: 5vw;
    color: $primary-color;

    .sayingTextArea {
      width: 76%;
      font-family: $font-gotham-rounded;
      font-style: italic;
      .sayingText {
        font-size: 60px;
      }
      .authorName {
        font-size: 24px;
      }
      hr {
        width: 80%;
        background-color: $primary-color;
        margin: 48px 0 48px 0;
      }
    }
    @media screen and (max-width: $width-md) {
      .sayingTextArea {
        width: 100%;
        .sayingText {
          font-size: 20px;
        }
        hr {
          width: 100%;
        }
      }
    }
  }

  .savingsSection {
    width: 100%;
    flex-direction: column;
    padding-left: 15vw;
    padding-right: 15vw;
    padding-bottom: 10vw;
    text-align: center;
    font-family: $font-gotham-rounded;
    h2 {
      width: 90%;
      color: $primary-color;
      font-size: 60px;
      font-weight: 700;
      padding-bottom: 44px;
    }
    p {
      color: $grey-1000;
      font-size: 24px;
      font-weight: 300;
      margin-top: 2vw;
      margin-bottom: 2vw;
    }
    .shortText {
      font-size: 14px;
      display: none;
    }
    .wideText {
      display: block;
    }
    .savingsLabel {
      width: 80%;
      color: $accent-dark-color;
      font-weight: 300;
      font-style: italic;
      h3, h6 {
        text-align: right;
      }
      h3 {
        font-size: 60px;
      }
      h6 {
        font-size: 20px;
        margin-right: 5%;
      }
    }
    img {
      width: 100%;
    }
    .rangeRow {
      width: 100%;
      margin-top: 50px;
    }
    @media (max-width: $width-md) {
      padding: 0 0 182px 0;
      h2 {
        font-size: 40px;
      }
      .wideText {
        display: none;
      }
      .shortText {
        display: block;
      }
    }
  }

  .processSection {
    background-color: $grey-50;
    max-width: 1168px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    color: $grey-1000;
    padding: 50px 0 25px 0;
    border-radius: 4px 32px 4px 32px;
    .leftArea {
      padding-left: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-family: $font-gotham-rounded;
      h2 {
        font-size: 60px;
        font-weight: 700;
      }
      p {
        font-size: 24px;
        font-weight: 300;
      }
      ol {
        li {
          font-size: 32px;
          font-family: $font-open-sans;
        }
      }
    }
    .rightArea {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      margin-right: -15px;
      img {
        width: 20vw;
      }
    }
    @media (max-width: $width-md) {
      border-radius: 5px;
      padding-bottom: 49px;
      .leftArea {
        padding: 20px;
        h2 {
          text-align: center;
          font-size: 40px;
        }
        p {
          margin: 44px 0 40px 0;
          font-size: 12px;
        }
        ol {
          li {
            font-size: 20px;;
            margin-bottom: 60px;
          }
        }
      }
      .rightArea {
        display: none;
      }
    }
  }

  :global(.landingHeaderStyle){
    background-image: url("/static/images/landingBanner.png");
    height: 100%;
    min-height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100%;
  }
}
